@charset "UTF-8";
.visualizador-content {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 1%;
       column-gap: 1%;
  row-gap: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: center;
}

.titulo-base, h1, h2, .h2-v2 {
  font-family: "Roboto", sans-serif;
  color: #75378e;
  text-align: center;
  margin-bottom: 10px;
}

.btn-base, .btn, .btn-custom {
  display: inline-block;
  margin: auto;
  color: white;
  border-radius: 17px;
}

.main-container, .container-planes-moviles,
.container-planes-hogar,
.contacto-telefonos .contacto-telefonos {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.grid-item-eqp-base, .grid-filtros,
.grid-eqp-01,
.grid-eqp-02,
.grid-eqp-03,
.grid-eqp-04,
.grid-eqp-05,
.grid-eqp-06,
.grid-eqp-07,
.grid-eqp-08,
.grid-eqp-09 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border: 1px solid #e7a0f9;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.grid-item-eqp-base img, .grid-filtros img,
.grid-eqp-01 img,
.grid-eqp-02 img,
.grid-eqp-03 img,
.grid-eqp-04 img,
.grid-eqp-05 img,
.grid-eqp-06 img,
.grid-eqp-07 img,
.grid-eqp-08 img,
.grid-eqp-09 img {
  width: 150px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.grid-item-eqp-base p, .grid-filtros p,
.grid-eqp-01 p,
.grid-eqp-02 p,
.grid-eqp-03 p,
.grid-eqp-04 p,
.grid-eqp-05 p,
.grid-eqp-06 p,
.grid-eqp-07 p,
.grid-eqp-08 p,
.grid-eqp-09 p {
  font-size: 100%;
  color: #5c2971;
  font-weight: bold;
  text-align: center;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Reset END */
html,
body {
  height: 100%;
  width: 100%;
}

/* h1 General Style */
h1 {
  font-size: 2rem;
  margin-top: 20px;
}

h2, .h2-v2 {
  font-size: 1.25rem;
  color: #6c2a86;
}

.h2-v2 {
  font-size: 20px;
  color: #858585;
}

/* BODY STYLES */
body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: #ffffff;
}

main img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

.banner-fullwidth {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}

/* ESTILOS SHORTCUTS INDEX */
.shortcuts-bg {
  width: 100%;
  max-width: 100%;
  background-color: #ecd4f7;
  /*#fbf0fd*/
  /*#480060*/
  padding: 25px 0;
  border-top: 3px solid #f7a3ff;
  border-bottom: 1px solid #f7a3ff;
}

.shortcuts {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}

.shortcut-kit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 5px;
}

.shortcut-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  width: 90px;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.shortcut-icon i {
  color: #6a0dad;
}

.shortcut-text {
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.shortcut-text p {
  color: #30084f;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

/*ESTILOS CARDS PLANES INDEX.HTML */
.card-body {
  display: flex;
  align-items: center;
  gap: 3px;
  align-self: stretch;
}
.card-body .card-title {
  font-size: 25px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #f7a3ff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}

.price-text {
  font-size: 50px;
  /*font-weight: bold;*/
  color: #681e85;
  text-align: center;
}

.bonus-text {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding: 4px 16px;
  font-size: 1rem;
  text-align: center;
  color: white;
  background-color: #c649f8;
  border-radius: 5px;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}
.card-details p {
  font-size: 20px;
  color: #9273a9;
  /*#3f2454*/
  text-align: center;
}

.icon {
  width: 50px;
  height: 50px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #681e85;
}

.btn {
  background-color: #6a0dad;
  border: 1px solid #da1aba;
}
.btn:hover {
  background-color: #d835eb;
}

/* CARDS DE TELEFONOS DE CONTACTO */
.contacto-telefonos .telephonesCards_cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
  margin: 32px 0;
  align-items: stretch;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #f7a3ff;
  border-radius: 16px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__header {
  display: flex;
  padding: 12px 16px;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  align-self: stretch;
  background-color: #580a9e;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__header i {
  color: white;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__header .telephonesCard__header__title {
  color: white;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content {
  display: flex;
  flex-direction: column;
  padding: 5px 16px;
  align-items: left;
  flex: 1 0;
  align-self: stretch;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content .telephone-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dbdae3;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content .telephone-group .telephone-group-title .title {
  color: rgb(81, 9, 122);
  font-size: 18px;
  font-weight: bold;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content .telephone-group .telephone-group-title .telephone-number a {
  text-decoration: none;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content .telephone-group .telephone-group-title .telephone-number .number {
  color: #c649f8;
  font-size: 16px;
}
.contacto-telefonos .telephonesCards_cards-container .telephonesCard .telephonesCard__content .telephone-group .telephone-group-title .telephone-number .description {
  color: #a49aa7;
  font-size: 16px;
}

/*SECCIÓN RRSS DE CONTACTO**/
.rrss-bg {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  background-color: #fef7ff;
  border-top: 1px solid #f7a3ff;
  border-bottom: 1px solid #f7a3ff;
}
.rrss-bg .rrss {
  margin: 15px auto;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3%;
}
.rrss-bg .rrss .rrsscard-kit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 5px;
}
.rrss-bg .rrss .rrsscard-kit .rrss-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #6a0dad;
  border-radius: 50%;
  text-align: center;
  flex-shrink: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.rrss-bg .rrss .rrsscard-kit .rrss-icon i {
  color: white;
}
.rrss-bg .rrss .rrsscard-kit .rrss-text {
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.rrss-bg .rrss .rrsscard-kit .rrss-text p {
  color: #30084f;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
}

/*SECCION TIENDAS DE CONTACTO*/
.tiendas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: 100%;
  padding-bottom: 25px;
}
.tiendas .map-tiendas {
  width: 100%;
  max-width: 1200px;
  height: 450px;
  border-radius: 10px;
}

/*FORMULARIO DE CONTACTO FONDO & TEXTO*/
.contact {
  max-width: 100%;
  width: 100%;
  background-color: #fef7ff;
  padding-bottom: 25px;
}
.contact .contact-form {
  max-width: 600px;
  margin: 0 auto;
}
.contact .contact-form .contact-form-subtitle {
  text-align: center;
}
.contact .contact-form .col-12 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* BOTON ESPECIFICO WEB CONTACTO */
.btn-custom {
  background-color: #6a0dad;
  border: 1px solid #da1aba;
  border-radius: 2px;
}
.btn-custom:hover {
  background-color: #580a9e;
}

/* ESTILOS HEADER*/
/*TOP-HEADER*/
.top-header {
  display: flex;
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ededed;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  width: 100%;
}
.top-header p {
  font-family: "Roboto", sans-serif;
  color: #7e7e7e;
  font-size: 20px;
}

/*LOGO Y NAVBAR TOP*/
.logo-img {
  width: 150px;
  height: auto;
  max-width: 100%;
}

.bottom-header {
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(65deg, #260e36, #5a2184 25%, #8130bb 80%);
  /*background-color: #381451;*/
  align-items: center;
  border-bottom: 1px solid #f7a3ff;
}

.navbar-nav .nav-link {
  color: white !important;
  text-align: center;
}
.navbar-nav .nav-link.active {
  color: white !important;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}

.navbar-toggler-icon {
  filter: invert(1);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin-bottom: 40px;
}
main p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #92749e;
}

/*INICIO FOOTER*/
footer {
  background-image: linear-gradient(45deg, #23132e, #592a7e 50%, #4b2864 80%);
  padding: 10px 20px 10px 20px;
}

footer p {
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.top-footer {
  display: flex;
  justify-content: space-between;
}

/*FIN ESTILOS FOOTER*/
/*Color de bordes de box grid de equipos */
/* GRILLA DE EQUIPOS */
.grid-equipos {
  display: grid;
  max-width: 1200px;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "grid-filtros grid-eqp-01 grid-eqp-02 grid-eqp-03" "grid-filtros grid-eqp-04 grid-eqp-05 grid-eqp-06" "grid-filtros grid-eqp-07 grid-eqp-08 grid-eqp-09";
  -moz-column-gap: 2%;
       column-gap: 2%;
  row-gap: 2%;
  justify-content: center;
  margin-top: 20px;
}

.grid-filtros {
  grid-row: 1/4;
}

/* FIN GRID GRILLA EQUIPOS */
/*FIN GRID PARA EQUIPOS*/
/*INICIO - GRID PARA VISUALIZADORES DE PLANES Y SERVICIOS */
/*ESTILOS PARA BOX DE PLANES Y SERVICIOS en PLANES.HTML*/
.content-box {
  display: grid;
  grid-auto-rows: min-content;
  align-items: start;
  background-color: #381451;
  border: 2px solid rgb(221, 110, 246);
  border-radius: 12px;
}

.content-titulo {
  padding: 10px 0px 0px 20px;
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  max-height: 100%;
}

.content-price {
  padding-left: 20px;
  background-color: #e7a0f9;
}
.content-price p {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.content-box-separador {
  padding: 10px 0px 0px 20px;
  background-color: #df4cbf;
}
.content-box-separador p {
  color: #ffffff;
  font-weight: bold;
}

.content-box-info {
  margin: 20px;
}
.content-box-info p {
  color: #fff;
  font-size: 16px;
}

/* ESTILOS CAROUSEL INDEX */
.carousel-item img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MEDIA QUERIES */
/* Celulares */
@media (max-width: 576px) {
  body {
    font-size: 14px;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .carousel-item img {
    height: 300px;
  }
  .shortcuts {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
    -webkit-overflow-scrolling: touch;
  }
  .shortcuts .shortcuts-kit {
    display: inline-block;
    flex: 0 0 auto;
    width: 130px;
    margin-right: 130px;
    scroll-snap-align: start;
  }
  .navbar .container-fluid {
    padding: 0 10px;
  }
  .navbar-brand img {
    width: 100px;
  }
  .grid-equipos {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .visualizador-content {
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
  .content-box {
    width: 100%;
  }
  .content-titulo .content-price .content-box-info {
    font-size: 50%;
  }
  .top-footer {
    flex-direction: column;
    text-align: center;
  }
  .telephonesCards_cards-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .telephonesCards_cards-container .map-tiendas {
    aspect-ratio: 1/1;
    max-width: 90%;
    height: 300px;
  }
  /* MEDIA QUERY */
  /* Tablets */
}
@media (max-width: 576px) and (min-width: 577px) and (max-width: 992px) {
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .content-box {
    width: 100%;
  }
  .grid-equipos {
    grid-template-columns: repeat(2, 1fr);
  }
  .visualizador-content {
    grid-template-columns: 1fr;
  }
  .contact {
    max-width: 100%;
  }
  /* MEDIA QUERY */
  /* Escritorio */
}
@media (max-width: 576px) and (min-width: 577px) and (max-width: 992px) and (min-width: 993px) {
  img {
    max-width: 100%;
    display: block;
  }
  .grid-equipos {
    grid-template-columns: repeat(3, 1fr);
  }
  .visualizador-content {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */