@use '../base/_variables.scss';
@use '../utilities/extends.scss';

/* GRILLA DE EQUIPOS */
.grid-equipos {
    display: grid;
    max-width: 1200px;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "grid-filtros grid-eqp-01 grid-eqp-02 grid-eqp-03"
    "grid-filtros grid-eqp-04 grid-eqp-05 grid-eqp-06"
    "grid-filtros grid-eqp-07 grid-eqp-08 grid-eqp-09";
    column-gap: 2%;
    row-gap: 2%;
    justify-content: center;
    margin-top: 20px;
    
}

.grid-filtros {
    grid-row: 1 / 4;
}
.grid-filtros,
.grid-eqp-01,
.grid-eqp-02,
.grid-eqp-03,
.grid-eqp-04,
.grid-eqp-05,
.grid-eqp-06,
.grid-eqp-07,
.grid-eqp-08,
.grid-eqp-09 {
    @extend .grid-item-eqp-base;
}
/* FIN GRID GRILLA EQUIPOS */
/*FIN GRID PARA EQUIPOS*/

/*INICIO - GRID PARA VISUALIZADORES DE PLANES Y SERVICIOS */
.visualizador-content {
    @extend .visualizador-content;
}

/*ESTILOS PARA BOX DE PLANES Y SERVICIOS en PLANES.HTML*/
.content-box {
    display: grid;
    grid-auto-rows: min-content;
    align-items: start;
    background-color: #381451;
    border: 2px solid rgb(221, 110, 246);
    border-radius: 12px;
}

.content-titulo {
    padding: 10px 0px 0px 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    max-height: 100%;
}

.content-price {
    padding-left: 20px;
    background-color: #e7a0f9;
    p {
        color: #000000;
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0;
    }
}

.content-box-separador {
    padding: 10px 0px 0px 20px;
    background-color: #df4cbf;
    p {
        color: #ffffff;
        font-weight: bold;
    }
}

.content-box-info {
    margin: 20px;
    p {
        color: #fff;
        font-size: 16px;
    }
}