/* MEDIA QUERIES */
/* Celulares */
@media (max-width: 576px) {
    body {
        font-size: 14px;
    }

    img {
        max-width: 100%;
        height: auto;
        display: block
    }

    .carousel-item img {
        height: 100%;
    }

    .shortcuts {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        scroll-snap-type: x mandatory;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 15px;
        padding: 10px;
        -webkit-overflow-scrolling: touch;

        .shortcuts-kit {
            display: inline-block;
            flex: 0 0 auto;
            width: 130px;
            margin-right: 130px;
            scroll-snap-align: start;
        }
    }

    .navbar .container-fluid {
        padding: 0 10px;
    }

    .navbar-brand img {
        width: 100px;
    }

    .grid-equipos {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .visualizador-content {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .content-box {
        width: 100%;
    }

    .content-titulo .content-price .content-box-info {
        font-size: 50%;
    }

    .top-footer {
        flex-direction: column;
        text-align: center;
    }

    .telephonesCards_cards-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .map-tiendas {
            aspect-ratio: 1 / 1;
            max-width: 90%;
            height: 300px;
        }
    }
    /* MEDIA QUERY */
    /* Tablets */
    @media (min-width: 577px) and (max-width: 992px) {
        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .content-box {
            width: 100%;
        }

        .grid-equipos {
            grid-template-columns: repeat(2, 1fr);
        }

        .visualizador-content {
            grid-template-columns: 1fr;
        }

        .contact {
            max-width: 100%;
        }

        /* MEDIA QUERY */
        /* Escritorio */
        @media (min-width: 993px) {
            img {
                max-width: 100%;
                display: block;
            }

            .grid-equipos {
                grid-template-columns: repeat(3, 1fr);
            }

            .visualizador-content {
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }
}